{% extends "base.html" %}
{% block title %}
Book Lists
{% endblock %}
{% block content %}
<!--  Name:        LIN HUANG  -->
<!--  Student ID:  1154938  -->
<!-- code to display a list of books-->
<br/>
<h2>Book List</h2>
<div>
<table class="table table-striped table-hover">
    <tr><th>Book ID</th><th>Title</th><th>Author</th><th>Category</th><th>Year of Publication</th><th>Returned</th><th>loandate</th></tr>
     {% for book in booklist %}
         <tr>
                 <th>{{book[7]}}</th>
                 <th>{{book[8]}}</th>
                 <th>{{book[9]}}</th>
                 <th>{{book[10]}}</th>
                 <th>{{book[11]}}</th>
                 {% if book[6] == 0 %}
                 <th>On Loan</th>
                 {% else %}
                 <th>Available</th> 
                 {% endif %}
                <!--TODO change to due day -->
                 <th>{{book[5]}}</th>
         </tr>
     {% endfor %}
 </table>

 <a class="btn btn-primary" href="{{ url_for('publicroute') }}" role="button"> Search books </a>
</div>

{% endblock %}