{% extends "base.html" %}
{% block title %}
Borrower List
{% endblock %}
{% block content %}
<!--  Name:        LIN HUANG  -->
<!--  Student ID:  1154938  -->
<!-- code to display a list of borrowers -->
<br/>
<h2 class="text-center mb-4">Borrower List</h2>

<table class="table table-striped table-hover">
    <tr><th>Borrower ID</th><th>First Name</th><th>Family Name</th><th>Date of birth</th><th>House Number Name</th><th>Street</th><th>Town</th><th>City</th><th>Postal Code</th><th>Operation</th></tr>
    {% for borrower in borrowerlist %}
    <tr>{% for item in borrower %}
        <td>{{item}}</td>
        {% endfor %}
        <td> 
            <a class="btn btn-primary" href="/borrowerdetail?borrowerid={{borrower[0]}}" role="button"> Edit  </a>
            <a class="btn btn-primary" href="/loanbook?borrowerid={{borrower[0]}}" role="button"> Issue </a>

        </td>
    
    </tr>
    {% endfor %}
</table>

<a class="btn btn-primary" href="/addborrower" role="button">Add a new Borrower</a>
{% endblock %}
