{% extends "base.html" %}
{% block title %}
Current Loads
{% endblock %}
{% block content %}
<!--  Name:        LIN HUANG  -->
<!--  Student ID:  1154938  -->
<!--code to display list of loans -->
<br/>
<h2 class="text-center mb-4">Current Loans</h2>
<form method ="POST" action="/returnbook">
<table class="table table-striped table-hover">
    <tr><th>Borrower Name</th><th>Loan Date</th><th>Status </th><th>Book Copy ID</th><th>Book Title</th><th>Type</th><th>Opration</th></tr>
    {% set currentborrower = namespace(id=0) %}
    {% for loan in loanlist %}
        {% if loan[12] == "eBook" %}
            {% set col = "green" %}
        {% elif loan[12] == "Audio Book" %}
            {% set col = "yellow" %}
        {% else %}
            {% set col = "white" %}
        {% endif %}
        <!-- the borrower name should be shown only once -->
        <tr bgcolor="{{col}}">
            {% if (currentborrower.id != loan[0])  %}
              <th>{{loan[2]}}  {{loan[1]}}</th>
              {% set currentborrower.id = loan[0] %}
            {% else %} 
              <th></th>
            {% endif %}
            <!-- ‘Returned’ for 1 and  ‘On Loan’ for 0-->
            <th>{{loan[5]}} </th>
             {% if loan[6] == 0 %}
             <th>On Loan</th>
             {% else %}
             <th>Returned</th> 
             {% endif %}
             <th> {{loan[4]}}</th>
             <th>{{loan[8]}} </th><th>{{loan[12]}} </th>
             <th> 
                {% if loan[6] == 0 %}
                <input type="hidden" id="loanid" name="loanid" value="{{loan[13]}}">
                <input class="btn btn-primary" type="submit" value="Return">
                {% else %}
                {% endif %}
            </th>    
        </tr>
    {% endfor %}
</form>
</table>

{% endblock %}