{% extends "base.html" %}
{% block title %}
Borrower List
{% endblock %}
{% block content %}
<!--  Name:        LIN HUANG  -->
<!--  Student ID:  1154938  -->
<!-- code to display Borrower Summary-->
<br/>
<h2>Borrower Summary Report</h2>

<div>
    <table class="table table-striped table-hover">
        <tr><th>Borrower ID</th><th>Borrower Name</th><th>Number Of Loans</th></tr>
        {% for borrower in borrowerlist %}
             <tr>
                <th>{{borrower[0]}}</th>
                <th>{{borrower[2]}}  {{borrower[1]}}</th>
                <th>{{borrower[3]}}</th>
             </tr>
         {% endfor %}
     </table>
    
     <a class="btn btn-primary" href="{{ url_for('staffroute') }}" role="button"> Back </a>
    </div>
{% endblock %}