{% extends "base.html" %}
{% block title %}
public route
{% endblock %}
{% block content %}
<!--  Name:        LIN HUANG  -->
<!--  Student ID:  1154938  -->
<!-- code to display public route -->
<body>
<br/>
<h2>Public </h2>
<form method="GET" action="/searchbooks" class="form-inline">
    <div class="input-group mb-3">
      <select name="catalogue" id="catalogue" required="required" class="form-control form-control-lg">
        <option selected>All</option>
        <option>Title</option>
        <option>Author</option>
      </select>
      <input id="search" type="text" class="form-control form-control-lg" aria-describedby="Text input with dropdown button" name="search" placeholder="Search books">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
</body>
{% endblock %}