{% extends "base.html" %}
{% block title %}
staff route
{% endblock %}
{% block content %}
<!--  Name:        LIN HUANG  -->
<!--  Student ID:  1154938  -->
<!-- code to display staff route -->
<br/>
<!--search books  -->
<h2 class="text-center my-3" > Search Books</h2> 
<form method="GET" action="/searchbooks" class="form-inline">
    <div class="input-group mb-3">
      <select name="catalogue" id="catalogue" required="required" class="form-control form-control-lg">
        <option selected>All</option>
        <option>Title</option>
        <option>Author</option>
      </select>
      <input id="search" type="text" class="form-control form-control-lg" aria-describedby="Text input with dropdown button" name="search" placeholder="Search books">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  <!-- Borrower Management -->
  <h2 class="text-center my-3">Borrower Management</h2>
  
  <!-- View all borrowers -->
  <div class="text-center">
    <a class="btn btn-primary" href="{{ url_for('listborrowers') }}" role="button">View all borrowers</a>
  </div>
  
  <!-- Search borrowers -->
  <form method="GET" action="/searchborrower" class="form-inline my-3">
    <div class="input-group mb-3">
      <input id="search" type="text" class="form-control form-control-lg" aria-describedby="Text input with dropdown button" name="search" placeholder="Search borrowers by name or by library card id (borrower id)">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
{% endblock %}
